<body>
  <div class="account-form">
    <h2>{{if isEdit "Edit Account" "Create New Account"}}</h2>

    <form {{action "submitForm" on="submit"}}>
      {{#if isEdit}}
        <div class="form-group">
          <label for="accNo">Account Number<span style="color:rgb(237, 69, 69);">*</span></label>
          <input 
            type="text" 
            id="accNo" 
            value={{accNo}} 
            class="form-control" 
            oninput={{action (mut accNo) value="target.value"}} 
            disabled={{isEdit}}
          >
        </div>
      {{/if}}

      <div class="form-group">
        <label for="acc_type">Account Type<span style="color:rgb(237, 69, 69);">*</span></label>
        <select 
          id="acc_type" 
          class="form-control" 
          onchange={{action (mut acc_type) value="target.value"}}
        >
          <option value="">Select type</option>
          {{#each types as |type|}}
            <option value={{type}} selected={{if (eq type acc_type) "selected"}}>{{type}}</option>
          {{/each}}
        </select>
      </div>

      {{#unless (eq role userRole.CUSTOMER)}}
        <div class="form-group">
          <label for="acc_status">Account Status<span style="color:rgb(237, 69, 69);">*</span></label>
          <select 
            id="acc_status" 
            class="form-control" 
            onchange={{action (mut acc_status) value="target.value"}}
          >
            <option value="">Select Status</option>
            {{#each statuses as |status|}}
              <option value={{status}} selected={{if (eq status acc_status) "selected"}}>{{status}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="username">Username<span style="color:rgb(237, 69, 69);">*</span></label>
          <input 
            type="text" 
            id="username" 
            value={{username}} 
            class="form-control" 
            oninput={{action (mut username) value="target.value"}} 
            disabled={{isEdit}}
          >
        </div>
      {{/unless}}

      <div class="form-group">
        <label for="branch_name">Branch Name<span style="color:rgb(237, 69, 69);">*</span></label>
        <select 
          id="branch_name" 
          class="form-control" 
          onchange={{action (mut branch_name) value="target.value"}}
        >
          <option value="">Select branch</option>
          {{#each branchNames as |branch|}}
            <option value={{branch.branch_name}} selected={{if (eq branch.branch_name branch_name) "selected"}}>{{branch.branch_name}}</option>
          {{/each}}
        </select>
      </div>

      <button type="submit" class="btn-primary">{{if isEdit "Update Account" "Create Account"}}</button>

      {{#link-to "banks.bank.accounts" bankId}}
        <button {{action "cancel"}} class="btn-secondary">Cancel</button>
      {{/link-to}}

      {{#if errorMessage}}
        <div class="error-message">* {{errorMessage}}</div>
      {{/if}}
    </form>
  </div>
  {{notify-box message=notification.message type=notification.type}}
</body>
