<div class="navbar">
  <ul class="nav-items">
    {{#if (eq role userRole.SUPERADMIN)}}
      <li {{action "toUsers"}}><a>Users</a></li>
      <li {{action "toBanks"}}><a>Banks</a></li>
    {{/if}}
    {{#unless (eq role userRole.SUPERADMIN)}}
      <li {{action "todashboard"}}><a>DashBoard</a></li>
      <li {{action "toBank"}}><a>Bank</a></li>
      {{#if (eq role userRole.ADMIN)}}
        <li {{action "toBranches"}}><a>Branches</a></li>
      {{/if}}
      {{#if (eq role userRole.MANAGER)}}
        <li {{action "toBranch"}}><a>Branch</a></li>
      {{/if}}
      <li {{action "toAccounts"}}><a>Accounts</a></li>
      <li {{action "toTransactions"}}><a>Transactions</a></li>
      <li {{action "toLoans"}}><a>Loans</a></li>
    {{/unless}}
    </ul>
  {{#unless (eq role userRole.SUPERADMIN)}}
    {{#unless (eq role userRole.MANAGER)}}
    {{!-- {{#if isRoute}} --}}
      <div class="branch-dropdown">
        <select id="branch" value={{branch_name}} onchange={{action "setbranch" value="target.value"}} >
          <option value="all">All Branches</option>
          {{#each branches as |branch|}}
            <option value={{branch.branch_name}}>{{branch.branch_name}}</option>
          {{/each}}
        </select>
      </div>
    {{!-- {{/if}} --}}
    {{/unless}}
  {{/unless}}
  <button class="logout" {{action "logout"}}>Logout</button>
</div>
