<div class="loans-list">
  <button {{action "addNewLoan"}} class="new-loan-btn">New Loan</button>

  <div class="filters">
    <label for="loanType">Type</label>
    <select id="loanType" value={{selectedLoanType}} onchange={{action (mut selectedLoanType) value="target.value"}}>
      <option value="">All</option>
      <option value="homeloan">Home Loan</option>
      <option value="businessloan">Business Loan</option>
      <option value="educationloan">Education Loan</option>
    </select>

    <label for="loanStatus">Status</label>
    <select id="loanStatus" value={{selectedLoanStatus}} onchange={{action (mut selectedLoanStatus) value="target.value"}}>
      <option value="">All</option>
      <option value="approved">Approved</option>
      <option value="pending">Pending</option>
      <option value="rejected">Rejected</option>
      <option value="closed">Closed</option>
    </select>

    <button class="clear" {{action (mut selectedLoanType) ''}} {{action (mut selectedLoanStatus) ''}} >Clear</button>
  </div>

  <table class="loans-table">
    <thead>
      <tr>
        <th>Loan ID</th>
        <th>Loan Type</th>
        <th>Loan Status</th>
        <th>Account Number</th>
        <th>Amount</th>
        {{#unless (eq role userRole.CUSTOMER)}}
        <th>Action</th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      {{#each filteredLoans as |loan|}}
        <tr {{action "viewLoan" loan}}>
           <td>{{loan.loan_id}}</td>
          <td>{{loan.loan_type}}</td>
          <td>{{loan.loan_status}}</td>
          <td>{{loan.acc_number}}</td>
          <td>Rs.{{loan.loan_amount}}</td>
          {{#unless (eq role userRole.CUSTOMER)}}
            <td>
              <button class="view-btn" {{action "editLoan" loan}}>Edit</button>
            </td>
          {{/unless}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
