<div class="accounts-list">
  <button {{action "addNewAccount"}} class="new-account-btn">New Account</button>

  <div class="filters">
    <label for="accountType">Type </label>
    <select id="accountType" value={{selectedAccountType}} onchange={{action (mut selectedAccountType) value="target.value"}}>
      <option value="">All</option>
      <option value="savings">Savings</option>
      <option value="business">Business</option>
    </select>

    <label for="accountStatus">Status </label>
    <select id="accountStatus" value={{selectedAccountStatus}} onchange={{action (mut selectedAccountStatus) value="target.value"}}>
      <option value="">All</option>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
      <option value="pending">Pending</option>
    </select>
  <button class="clear" {{action (mut selectedAccountType) ''}} {{action (mut selectedAccountStatus) ''}}>Clear</button>
  </div>


  <table class="accounts-table">
    <thead>
      <tr>
        <th>Account No</th>
        <th>Type</th>
        <th>Status</th>
         {{#unless (eq role userRole.CUSTOMER)}}
        <th>Username</th>
        {{/unless}}
        {{#unless (eq role userRole.MANAGER)}}
        <th>BranchName</th>
            {{/unless}}
        {{#unless (eq role userRole.CUSTOMER)}}
          <th>Actions</th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      {{#each filteredAccounts as |account|}}
        <tr {{action "viewAccount" account}}>
          <td>{{account.acc_no}}</td>
          <td>{{account.acc_type}}</td>
          <td>{{account.acc_status}}</td>
          {{#unless (eq role userRole.CUSTOMER)}}
          <td>{{account.username}}</td>
          {{/unless}}
          {{#unless (eq role userRole.MANAGER)}}
          <td>{{account.branch_name}}</td>
          {{/unless}}
          {{#unless (eq role userRole.CUSTOMER)}}
            <td>
              <button {{action "editAccount" account}}>Edit</button>
            </td>
          {{/unless}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
