<div class="loans-list">
  <button {{action "addNewLoan"}} class="new-loan-btn">New Loan</button>
  
  <table class="loans-table">
    <thead>
      <tr>
        <th>LoanId</th>
        <th>LoanType</th>
        <th>Amount</th>
        <th>Duration</th>
        <th>AvailedDate</th>
        {{#unless (eq role "CUSTOMER")}}
        <th>Actions</th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      {{#each loans as |loan|}}
        <tr {{action "viewLoan" loan}}>
          <td>{{loan.loan_id}}</td>
          <td>{{loan.loan_type}}</td>
          <td>Rs.{{loan.loan_amount}}</td>
          <td>{{loan.loan_duration}}</td>
          <td>{{loan.loan_availed_date}}</td>
          {{#unless (eq role "CUSTOMER")}}
          <td>
            <button {{action "editLoan" loan}}>Edit</button>
          </td>
          {{/unless}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

