<div class="loan-card-wrapper">
  <div class="loan-card">
    <h2>Loan Details</h2>
    <div class="loan-field">
      <span class="field-label">Loan Id:</span>
      <span class="field-value">{{loan.loan_id}}</span>
    </div>
    <div class="loan-field">
      <span class="field-label">Loan Type:</span>
      <span class="field-value">{{loan.loan_type}}</span>
    </div>
    <div class="loan-field">
      <span class="field-label">Loan Amount:</span>
      <span class="field-value">Rs.{{loan.loan_amount}}</span>
    </div>
    <div class="loan-field">
      <span class="field-label">Interest:</span>
      <span class="field-value">{{loan.loan_interest}}%</span>
    </div>
    <div class="loan-field">
      <span class="field-label">Duration:</span>
      <span class="field-value">{{loan.loan_duration}} Months</span>
    </div>
     <div class="loan-field">
      <span class="field-label">Status:</span>
      <span class="field-value">{{loan.loan_status}}</span>
    </div>
     <div class="loan-field">
      <span class="field-label">Availed Date:</span>
      <span class="field-value">{{loan.loan_availed_date}}</span>
    </div>
    {{#if (eq loan.loan_status "approved")}}
    <div>
        <button class="view-btn"  {{action "toEmis" loan}}>View Emis</button>
    </div>
    {{/if}}
  </div>
</div>
