<div class="account-card-wrapper">
  <div class="account-card">
    <h2>Account Details</h2>
    <div class="account-field">
      <span class="field-label">Account Number:</span>
      <span class="field-value">{{account.acc_no}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Account Type:</span>
      <span class="field-value">{{account.acc_type}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Account Balance:</span>
      <span class="field-value">{{account.acc_balance}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Branch Name:</span>
      <span class="field-value">{{account.branch_name}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Status:</span>
      <span class="field-value">{{account.acc_status}}</span>
    </div>
    {{#if (eq account.acc_status "active")}}
    <div >
        <button class="view-btn"  {{action "loans"}}>View Loans</button>
         <button class="view-btn"  {{action "transactions"}}>View Transactions</button>
    </div>
    {{/if}}
  </div>
</div>
