<div class="branches-list">
  <button {{action "addNewBranch"}} class="new-branch-btn">New Branch</button>
  
  <table class="branches-table">
    <thead>
      <tr>
        <th>Branch Name</th>
        <th>Branch Number</th>
        <th>Manager Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each branches as |branch|}}
        <tr >
          <td {{action "viewBranch" branch}}>{{branch.branch_name}}</td>
          <td {{action "viewBranch" branch}}>{{branch.branch_number}}</td>
          <td {{action "viewBranch" branch}}>{{branch.manager_name}}</td>
          <td>
            <button {{action "editBranch" branch}}><i class="bi bi-pencil"></i> Edit</button>
            {{#unless (eq branch.branch_id branch.main_branch_id)}}
            <button {{action "deleteBranch" branch}}><i class="bi bi-trash-fill"></i> Delete</button>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
 {{notify-box message=notification.message type=notification.type}}
