<body>
  <div class="bank-form">
    <h2>Edit Bank</h2>
    
    <form {{action "submitForm" on="submit"}}>
      {{!-- <div class="form-group">
        <label for="bankId">Bank ID<span style="color:rgb(237, 69, 69);">*</span></label>
        <input type="text" id="bankId" value={{bankId}} class="form-control" disabled>
      </div> --}}

      <div class="form-group">
        <label for="bankId">Bank Name<span style="color:rgb(237, 69, 69);">*</span></label>
        <input type="text" id="bankId" value={{bank.bank_name}} class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="branchId">Branch ID<span style="color:rgb(237, 69, 69);">*</span></label>
        <select id="branchId" class="form-control" onchange={{action (mut branchId) value="target.value"}}>
          <option value="">Select Branch</option>
          {{#each branches as |branch|}}
            <option value={{branch.branch_id}} selected={{if (eq branch.branch_id bank.main_branch_id) "selected"}}>{{branch.branch_name}}</option>
          {{/each}}
        </select>
      </div>
      
      <button type="submit" class="btn-primary">Update Bank</button>
      <button {{action "cancel"}} class="btn-secondary">Cancel</button>
    </form>
  </div>
  {{notify-box message=notification.message type=notification.type}}
</body>
