<body>
  <div class="bank-form">
    <h2>Edit Bank</h2>
    
    <form {{action "submitForm" on="submit"}}>
      <div class="form-group">
        <label for="bankId">Bank ID</label>
        <input type="text" id="BankId" value={{bankId}} class="form-control" disabled>
    </div>

    <div class="form-group">
      <label for="branchId">Branch ID</label>
      <select id="branchId" class="form-control" onchange={{action (mut branchId) value="target.value"}}>
        {{#each branches as |branch|}}
          <option value={{branch.branch_id}} selected={{if (eq branch.branch_id bank.main_branch_id) "selected"}}>{{branch.branch_name}}</option>
        {{/each}}
      </select>
    </div>
     <button type="submit" class="btn-primary">Update Bank</button>
      <button {{action "cancel"}} class="btn-secondary">Cancel</button>
    </form>
  </div>
  {{notify-box message=notification.message type=notification.type}}
</body>