<div class="bank-card-wrapper">
  <div class="bank-card">
    <h2>Bank Details</h2>
    {{#each banks as |bank|}}
     
    <div class="bank-field">
      <span class="field-label">Bank Name:</span>
      <span class="field-value">{{bank.bank_name}}</span>
    </div>
    <div class="bank-field">
      <span class="field-label">Bank Code:</span>
      <span class="field-value">{{bank.bank_code}}</span>
    </div>
     <div class="bank-field">
      <span class="field-label">Bank Admin:</span>
      <span class="field-value">{{bank.admin_name}}</span>
    </div>
   
     <div class="bank-field">
      <span class="field-label">Main Branch Name:</span>
      <span class="field-value">{{branch.branch_name}}</span>
    </div>
     <div class="bank-field">
      <span class="field-label">Main Branch Address:</span>
      <span class="field-value">{{branch.branch_address}}</span>
    </div>
    {{#if (eq role userRole.ADMIN)}}
    
      <div class="view-wrap">
        <button class="view-btn"  {{action "updateMainBranch" bank}}>Update Main Branch</button>
      </div>
    
    {{/if}}
    {{/each}}
  </div>
</div>
