<div class="filters">
  <label for="userRole">Role</label>
  <select id="userRole" onchange={{action "updateUserRole" value="target.value"}}>
    <option value="">All</option>
    <option value="admin">Admin</option>
    <option value="customer">Customer</option>
    <option value="manager">Manager</option>
  </select>

  <label for="userStatus">Status</label>
  <select id="userStatus" onchange={{action "updateUserStatus" value="target.value"}}>
    <option value="">All</option>
     <option value="pending">Pending</option>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
   
  </select>
   <button class="clear" {{action (mut selectedUserRole) ''}} {{action (mut selectedUserStatus) ''}}>Clear</button>
  
</div>

<div class="users-list">
  <table class="users-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredUsers as |user|}}
        <tr {{action "viewUser" user}}>
          <td>{{user.user_id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.user_role}}</td>
          <td>{{user.user_status}}</td>
          <td>
            <button {{action "editUser" user}}>Edit</button>
            {{#if (eq user.user_status "pending")}}
            <button {{action "deleteUser" user}}>Delete</button>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

