<div class="transaction-card-wrapper">
  <div class="transaction-card">
    <h2>Transaction Details</h2>
    <div class="transaction-field">
      <span class="field-label">Transaction Id:</span>
      <span class="field-value">{{transaction.transaction_id}}</span>
    </div>
    <div class="transaction-field">
      <span class="field-label">Transaction Type:</span>
      <span class="field-value">{{transaction.transaction_type}}</span>
    </div>
    <div class="transaction-field">
      <span class="field-label">Transaction Amount:</span>
      <span class="field-value">Rs.{{transaction.transaction_amount}}</span>
    </div>
    <div class="transaction-field">
      <span class="field-label">Status:</span>
      <span class="field-value">{{transaction.transaction_status}}</span>
    </div>
    <div class="transaction-field">
      <span class="field-label">Date and Time:</span>
      <span class="field-value">{{transaction.transaction_datetime}}</span>
    </div>
    <div class="transaction-field">
      <span class="field-label">Account Number:</span>
      <span class="field-value">{{transaction.acc_number}}</span>
    </div>
   
  </div>
</div>
