<div class="account-card-wrapper">
  <div class="account-card">
    <h2>Account Details</h2>
    <div class="account-field">
      <span class="field-label">Account Number:</span>
      <span class="field-value">{{acc.acc_no}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Account Type:</span>
      <span class="field-value">{{acc.acc_type}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Account Balance:</span>
      <span class="field-value">{{acc.acc_balance}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Branch Name:</span>
      <span class="field-value">{{acc.branch_name}}</span>
    </div>
    <div class="account-field">
      <span class="field-label">Status:</span>
      <span class="field-value">{{acc.acc_status}}</span>
    </div>
    {{#if (eq acc.acc_status status.ACTIVE)}}
    <div class="view-wrap">
        <button class="view-btn"  {{action "loans"}}>View Loans</button>
         <button class="view-btn"  {{action "transactions"}}>View Transactions</button>
    </div>
    {{/if}}
  </div>
</div>
