<div class="emi-list">
  {{#if (eq loan.loan_status loanStatus.CLOSED)}}
    <button {{action "addNewEmi"}} class="new-emi-btn">Make Payment</button>
  {{/if}}
  <table class="emi-table">
    <thead>
      <tr>
        <th>EMI Number</th>
        <th>Transaction ID</th>
        <th>To Be Paid Date</th>
        <th>Actual Paid Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each generatedEmis as |emi|}}
        <tr>
          <td>{{emi.emiNumber}}</td>
          <td>{{emi.transactionId}}
           <div class="status-box {{if (eq emi.transactionId '-') 'to-be-paid' 'paid'}}">{{if (eq emi.transactionId '-') 'To Be Paid' 'Paid'}}</div>
         </td>
          <td>{{emi.toBePaidDate}}</td>
          <td>{{emi.actualPaidDate}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if (eq loan.loan_status loanStatus.CLOSED)}}
     <button style="margin-top:60px;cursor:default;margin-right:40%;" class="new-transaction-btn">Loan is Closed!</button>
  {{/if}}
</div>
