<div class="user-card-wrapper">
  <div class="user-card">
    <h2>User Details</h2>
    <div class="user-field">
      <span class="field-label">User ID:</span>
      <span class="field-value">{{User.user_id}}</span>
    </div>
    <div class="user-field">
      <span class="field-label">Full Name:</span>
      <span class="field-value">{{User.fullname}}</span>
    </div>
    <div class="user-field">
      <span class="field-label">Username:</span>
      <span class="field-value">{{User.username}}</span>
    </div>
    <div class="user-field">
      <span class="field-label">Phone Number:</span>
      <span class="field-value">{{User.user_phonenumber}}</span>
    </div>
    <div class="user-field">
      <span class="field-label">Address:</span>
      <span class="field-value">{{User.user_address}}</span>
    </div>
    <div class="user-field">
      <span class="field-label">Role:</span>
      <span class="field-value">{{User.user_role}}</span>
    </div>
    <div class="user-field">
      <span class="field-label">Status:</span>
      <span class="field-value">{{User.user_status}}</span>
    </div>
   
  </div>
</div>
