<div class="user-card-wrapper">
  <div class="user-card">
    <h2>User Details</h2>
    <div class="user-field"  style="margin-bottom:20px">
      <span class="field-label" style="padding-left:80px">Full Name:</span>
      <span class="field-value">{{user.fullname}}</span>
    </div>
    <div class="user-field"  style="margin-bottom:20px">
      <span class="field-label"style="padding-left:80px">Username:</span>
      <span class="field-value">{{user.username}}</span>
    </div>
    <div class="user-field"  style="margin-bottom:20px">
      <span class="field-label" style="padding-left:80px">Phone Number:</span>
      <span class="field-value">{{user.user_phonenumber}}</span>
    </div>
    <div class="user-field"  style="margin-bottom:20px">
      <span class="field-label" style="padding-left:80px">Address:</span>
      <span class="field-value">{{user.user_address}}</span>
    </div>
    <div class="user-field"  style="margin-bottom:20px">
      <span class="field-label" style="padding-left:80px">Role:</span>
      <span class="field-value">{{user.user_role}}</span>
    </div>
    <div class="user-field"  style="margin-bottom:20px">
      <span class="field-label" style="padding-left:80px">Status:</span>
      <span class="field-value">{{user.user_status}}</span>
    </div>
   
  </div>
</div>
